pandas
numpy
pydantic
langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
wikipedia
langchain_openai
langchain-google-genai
google-generativeai
chromadb
langchain-ollama
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
google-genai
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
langgraph
arxiv
wikipedia
langgraph-cli[inmem]